body { 
    background-color: #F4F5F7;
}

#checklist-container {
    margin-bottom: 8px;
}

.item-container {
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.item-container:hover {
    background-color:  	#EBECEE;
}

.item-container.no-hover:hover {
    background-color: transparent;
}

.item-container:hover > div {
    visibility: visible;
}

.item-container:hover > .avatar > .avatar-button {
    visibility: visible;
}

.item-container.draggable-source--is-dragging > div, .item-container.draggable-source--is-dragging > img {
    visibility: hidden;
}

.item-container.draggable-mirror {
    background-color:	#EBECEE;
    width: 100%;
}

.item-container.draggable-mirror > div {
    visibility: visible;
}

.checkbox {
    min-width: 18px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    background-color: #fff;
    margin-left: 10px;
}

.checkbox:hover {
    background-color: #ebecf0;
}

.checkbox.enabled {
    color: #fff;
    box-shadow: inset 0 0 0 2px #0079bf;
    background: #0079bf url(img/tick-icon.svg) 1px 1px/16px 16px;
}

.item-text {
    flex-grow: 2;
    margin: 0 8px;
    padding: 8px 0;
}

.item-text:hover {
    cursor: pointer;
}

.avatar {
    margin: 4px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 25em;
    background-color: rgba(9,30,66,.04);
    visibility: hidden;
}

.avatar > img {
    object-fit: cover;
    height: 32px;
    width: 32px;
    border-radius: 25em;
}

.avatar-button {
    background: transparent url(img/add-icon.svg) 6px 6px/20px 20px no-repeat;
    visibility: hidden;
    height: 32px;
    width: 32px;
    border-radius: 25em;
}

.avatar-button:hover {
    background-color: #DADAE2;
}

.meatballs {
    visibility: hidden;
    margin-right: 4px;
    background: transparent url(img/meatballs.svg) 6px 2px/20px 20px no-repeat;
    width: 32px;
    min-width: 32px;
    height: 24px;
}

.meatballs:hover {
    background-color: #DADAE2;
    border-radius: 3px;
}

.due-date {
    border-radius: 3px;
    background-color: rgba(9,30,66,.04);
    color: #172b4d;
    display: flex;
    min-width: 32px;
    min-height: 24px;
}

.due-date.invisible {
    visibility:hidden;
}

.due-date > .due-date-text {
    padding: 4px;
}

.due-date > .calendar-icon {
    background: transparent url(img/calendar-icon.svg) 8px 4px/16px 16px no-repeat;
    width: 32px;
    height: 24px;
}

.due-date:hover {
    background-color: #DADAE2;
    cursor: pointer;
}

.item-container > .item-textarea-container{
    margin-left: 8px;
    flex-grow: 2;
}

#new-item-text-area {
    margin-left: 36px;
}

.item-textarea {
    height: 40px;
}
