@font-face {
    font-family: 'trellicons';
    src:  url('trellicons-regular.ttf') format('truetype');
}

.checkbox {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    background-color: #fff;
}

.checkbox:hover {
    background-color: #ebecf0;
}

.checkbox.enabled {
    background-color: #0079bf;
    box-shadow: inset 0 0 0 2px #0079bf;
}

.checkbox.enabled::before {
    font-family: trellicons;
    content: "\E913";
    color: #fff;
}